* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Pt";
  src: url(fonts/Azonix-1VB0.otf);
}
@font-face {
  font-family: "tt";
  src: url(fonts/FutronsOutline-4BEaD.ttf);
}
@font-face {
  font-family: "DATER";
  src: url(fonts/FuturisticBright-8MW8D.otf);
}
@font-face {
  font-family: "PLANER";
  src: url(fonts/SpotMonkey-zLO0.ttf);
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
  background: radial-gradient(circle at top right, rgb(24, 24, 24), #634092);
  font-family: "Teachers", sans-serif;
}

section {
  width: 100%;
}
h2 {
  font-weight: 400;
  margin: 10px;
  color: #fff;
}

strong {
  color: #000;
}
a {
  cursor: pointer;
  text-decoration: none;
}
nav a {
  text-decoration: none;
  list-style: none;
}
.nav-style {
  background-color: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(5px);
  z-index: 1;
}

nav ul {
  display: flex;
  margin: 5px;
  gap: 5px;
  font-weight: 400;
}
li {
  padding: 3px 10px;
  border-radius: 8px;
  /* color: #000; */
  color: #fff;
}
li button {
  border: none;
  background-color: transparent;
}
li:hover {
  opacity: 0.9;
}
li:active {
  transform: scale(0.99);
}
button {
  cursor: pointer;
}
input {
  color: #ffffffbb;
  margin: 10px 20px;
  padding: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 10px;
  background-color: #94949438;
  backdrop-filter: blur(20px);
}
input:focus {
  box-shadow: 0 0 2px #634092;
}
textarea {
  color: #fff;
  font-size: 1rem;
  height: 240px;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(31, 31, 31, 0.5 );
  backdrop-filter: blur(20px);
  outline: none;
  resize: none;
}
textarea:focus-visible {
  box-shadow: 0 0 2px #634092;
}
#btn-contact {
  width: 100%;
  margin: 0 auto;
  border: none;
  font-size: 1.3rem;
  margin: 40px 0;
  background-color: transparent;
}
#btn-contact:hover {
  opacity: 0.9;
}
#btn-contact:active {
  transform: scale(0.99);
}
.destacado {
  color: #634092;
  text-wrap: pretty;
  text-shadow: 2px 5px 10px #000;
  
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.625);
}
.capa-welcome {
  display: none;
  z-index: 2;
  height: auto;
  width: auto;
  background-color: rgb(0, 0, 0);
  animation: show-letters-02 1s ease-in-out forwards;
}
.welcome {
  display: none;
  z-index: 1;
  height: auto;
  width: 0;
  background-color: transparent;
  overflow: hidden;
  animation: show-letters 1s forwards;
}
.overflow-hidden {
  overflow-y: hidden;
}
@keyframes show-letters {
  to {
  width: 100%;
}
}
@keyframes show-letters-02 {
  to {
  background-color: transparent;
}
}
.welcome p {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  font-weight: bold;
  color: #634092;
  text-shadow: 0 0 #080808;
}
.welcome h2 {
font-size: 4rem;
}
#language {
  top: 0;
  left: 0;
  position: absolute;
  padding: 0px 10px;
  border-radius: 0px;
  list-style: none;
  text-align: center;
  box-shadow: 0px 0.3px 0px 0px #fff;
  margin-left: 10px;
  display: none;
}
#languages {
  display: none;
  position: relative;
  display: flex;
  gap: 3px;
  list-style: none;
  margin: 8px;
}
#img-languages {
  height: auto;
  width: 1.5rem;
}
#languages img {
  height: 100%;
  width: 100%;
}
#languages button {
  font-size: 0.5rem;
  margin: 0;
}
#languages button strong {
  color: #9c9c9c;
  opacity: 0.5;
}
#options-languages {
  display: none;
}
.state-active {
  opacity: 0.5;
}
/* #language:hover {
  transform: scale(none);
} */
#language:hover {
  transform: none;
}
@keyframes show-animation-remove {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes show-animation-add {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.show-r {
  animation: show-animation-remove 0.3s forwards;
}
.show-a {
  animation: show-animation-add 0.3s forwards;
}
#nav-home {
  z-index: 1;
  position: sticky;
  top: 0;
  height: 100%;
  width: 68%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: #fff; */
  background-color: transparent;
  margin: 0 auto;
  z-index: 3;
}

#open-menu-responsive {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  margin: 25px;
  background-color: transparent;
  display: none;
}
#open-menu-responsive img {
height: auto;
width: 40px;
box-shadow: 0.3rem 0.2rem rgb(99, 64, 146, 0.7) ;
}
#capa-all-nav {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(8, 8, 8, 0.555);
  backdrop-filter: blur(4px);
  display: none;
  overflow: hidden;
}
@media screen and ( max-width:1000px ) {
  #nav-home {
    position: absolute;
    display: block;
    background-color: #634092;
    display: none;
    overflow: hidden;
  }
  #open-menu-responsive {
    display: block;
  }
  #nav-items {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    padding-bottom: 80px;
    margin-right: 10px;
    overflow: hidden;
  }
  #nav-items li {
  font-size: 2rem;
  }
}
.home {
  position: absolute;
  left: 0;
  padding: 1rem;
  background-color: transparent;
}
.home img {
  max-width: 12px;
  height: auto;
  filter: drop-shadow(0 0 50px #000);
}
.contact {
  color: #33e410;
}

.vertical-line {
  position: absolute;
  height: 100vh;
  width: 2px;
  background-color: #fff;
  left: 0;
  margin: 1rem;
}
.hidden-content {
  display: none;
}
.filter-body {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: rgb(12, 12, 12); */
  /* background: linear-gradient(100deg, #fff, #634092); */
  background: linear-gradient(100deg, #000, #161616, #222222);
  background-attachment: fixed;
}
.filter-body img {
  z-index: -2;
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  background-attachment: fixed;
  transform: translateX(-5px);
}

#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 65%;
  margin: 0 auto;
  background-color: rgba(26, 26, 26, 0.5);
  /* background-color: #fff; */
  backdrop-filter: blur(4px);
  margin-bottom: 40px;
}
/* .container-portfolio {
  animation: tat 0.5s ease-in-out forwards;
  animation-delay: 1s;
}
.container-portfolio-animation {
  animation: tatL 0.5s ease-in-out infinite;
  animation-delay: 1s;
} */

/* @keyframes tat {
  to {
    box-shadow: -10px 0px 10px -5px rgb(255, 255, 255, 0.2), /* sombra en el lado izquierdo 
    10px 0px 10px -5px rgb(255, 255, 255, 0.2); /* sombra en el lado derecho 
  }
}
@keyframes tatL {
  to {
    box-shadow: -10px 0px 10px -5px rgb(255, 255, 255, 0.2); /* sombra en el lado izquierdo  

  }
} */
.data-home {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 6.5rem 0 0 0;
  /* background-color: rgb(0, 255, 179); */
  background-color: rgba(100, 64, 146, 0.5);
  box-shadow: 0.3rem 0.5rem rgba(255, 255, 255, 0.15);
}
.container-avatar {
  height: 180px;
  width: 180px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
}
.avatar {
  position: absolute;
  width: 260px;
  height: 260px;
  background: radial-gradient(#634092, #ffffff);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 0.1rem rgba(22, 22, 22, 0.2));
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
}
.container-video {
  position: absolute;
  width: 260px;
  height: 260px;
  overflow: hidden;
  border-radius: 50%; /* Hace que el contenedor sea circular */
  padding: 20px;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 1rem #634092);
  box-shadow: 0 0 10rem rgba(255, 255, 255, 0.1);
  /* clip-path: polygon(25% 9%, 100% 0, 77% 90%, 0 100%); */
  }
.container-video video {
  width: 200%;
  height: 150%;
  object-fit: cover; /* Cubre completamente el contenedor */
  position: absolute; /* Posicionamiento absoluto para cubrir el contenedor */
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 10px #fff);
}
.port-home h1 {
  text-align: center;
  font-size: 5rem;
  background-color: #ccc;
  background: linear-gradient(270deg, #858585, #414141, #634092, #fff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 2rem;
  filter: drop-shadow(0 0 0.1rem #000);
}
.space-name {
 padding-top: 1rem;
}
.container-state {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 5px;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  width: 90%;
  margin: 50px;
}
.info-state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 100%;
  padding: 0.3rem 1.2rem;
  background: radial-gradient( #0c0c0c4d, rgba(0, 0, 0, 0.432)); 
  border-radius: 15px;
} 

.state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px;
}
.state img {
  height: auto;
  width: 35px;
  max-width: 35px;
  border-radius: 5px;
  padding: 3px;
  animation: tik 4s linear infinite both;
  animation-delay: 4s;
}
@keyframes tik {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgb(11, 179, 11, 0.1);
  }
}
.state p {
  color: #fff;
  font-size: 1rem;
  transition: 0.3s ease;
}
.state p:hover {
  color: #634092;
}
@keyframes state {
  0% {
    width: 0%;
  }
  90% {
    width: 100%;
    opacity: 0;
  }
  100% {
    opacity: 1;
   display: none;
  }
}
.code {
  position: relative;
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
.code-insert {
  font-family: monospace;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden; 
  border-right: 1.5px solid; /* Simula el cursor */
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  text-shadow: 1px 0 #000;
}
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes typing-contact {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #fff; }
}

.redirect-site {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #00000031, #64409200);
}
.redirect-site h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 5vmax;
    } 
    .redirect-site a {
      text-decoration: none;
      } 

.redirect-site span {
  opacity: 0.6;
} 
.port-home {
  height: auto;
  margin-top: auto;
}
/* .port-sentence {
  position: relative;
  z-index: 3;
  width: 85%;
  padding: 70px 120px 30px 120px;
  border-radius: 20px;
  margin: auto;
  overflow: hidden;
  clip-path: polygon(0 50%, 50% 0, 100% 50%, 100% 50%, 70% 100%, 30% 100%, 0 50%);
  background: linear-gradient(#64409283, #0000008c);
  border-top: 30px solid #000;
  border-bottom: 10px solid #fff;
} */
.port-sentence {
  position: relative;
  z-index: 3;
  width: 80%;
  margin-top: 200px;
  padding: 20px;
  border-radius: 20px;
  margin: auto;
  overflow: hidden;
  background: linear-gradient(95deg, #64409225, #00000027);
}
/* .port-sentence p {
  font-size: 1rem;
  color: #fff;
  padding: 10px 50px;
  text-align: center;
  border-bottom: 2px solid #fff;

} */
.port-sentence p {
  font-size: 1.4rem;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-wrap: pretty;
  text-shadow: 2px 5px 10px #000;
}
.port-sentence::before {
  width: 100%;
  z-index: -1;
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 20px;
  padding: 5px;
  background: linear-gradient(
    90deg,
    rgb(20, 13, 30, 0.7),
    rgb(99, 64, 146, 0.7),
    #ee82ee1f,
    #2d1d42
  );
  background-size: 500% 500%;
  animation: borderAnimation 5s linear forwards;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5), 0 0 10px rgba(255, 165, 0, 0.5),
    0 0 10px rgba(255, 255, 0, 0.5), 0 0 10px rgba(0, 128, 0, 0.5),
    0 0 10px rgba(75, 0, 130, 0.5), 0 0 10px #ee82ee80;
}

.port-sentence::after {
  content: "";
  position: absolute;
  top:    2px;
  left:   2px;
  right:  2px;
  bottom: 2px;
  border-radius: 20px;
  z-index: -1;
} 

@keyframes borderAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes recorrer-div {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 10px 10px 1rem orange;
  }
}
  

.data-head {
  position: relative;
  height: auto;
  width: 100%;
  height: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.2rem;
  color: #000;
  padding: 1rem;
  align-items: center;
  font-weight: 600;
}

.qtn {
  text-align: center;
  margin: 4rem 2.5rem 0;
  padding: 1rem;
  user-select: none;
}
.qtn p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  user-select: none;
}
.qtn strong {
  color: #fff;
}
.qtn a{
  user-select: none;
}
.forward-right img {
  display: inline-flex;
  height: 2.8rem;
  width: auto;
  margin-bottom: -0.75rem;
  background-color: transparent;
  filter: drop-shadow(0 0 10rem #ffff);
  user-select: none;
}

#skills {
  width: 100%;
  margin-top: auto;
  margin: 2rem 0;
}
#projects {
position: relative;
height: auto;
width: 100%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
background-color: transparent;
box-shadow: inset 5px 0 0 hotpink;
padding: 15px;
}
.container-projects {
display: flex;
justify-content: space-around;
align-items: center;
gap: 20px;
flex-wrap: wrap;
flex-direction: column;
margin: 25px;
}
.project {
  position: relative;
  height: 500px;
  width: 800px;
  background-color: transparent;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
.title-project {
  transition: 0.5s linear;
}
.project:hover .title-project {
  font-size: 2rem;
}
.project:hover {
  box-shadow: 0 0 5px rgb(255, 255, 255, 0.2);
}
.descrip-project {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
}
.descrip-project p {
color: #fff;
font-weight: 600;
font-size: 1.3rem;
margin: 10px;
padding-left: 40px;
text-wrap: pretty;
}
.p-preview img {
  z-index: -2;
  position: absolute;
  height: 100%;
  width: 100%;
}
.filter-on-project {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.tecnologies-use {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  padding: 20px;
}
#learned {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  gap: 10px;
  background-color: transparent;
  box-shadow: inset 5px 0 0 #fff;
}
.items-learned img {
  width: 30px;
  max-width: 35px;
  height: auto;
  padding: 5px;
  user-select: none;
}

.items-learned {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 0.1px #fff;
  padding: 10px 10px 10px 25px ;
  /* background-color: rgba(255, 255, 255, 0.041); */

}
/* .icons-imgs:hover {
  backdrop-filter: blur(20px);
  background-color: rgba(73, 73, 73, 0.1);
} */
 .items-learned p {
  color: #fff;
  padding-left: 40px;
  font-weight: 400;
 }
 .learn-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
 }
 
 .learn-item h3 {
  position: absolute;
  font-size: 1.2rem;
  filter: drop-shadow(0 -2px 0 #000);
  padding-top: 2.5rem;
  user-select: none;
}
.design {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 100px;
}
.design p {
  position: absolute;
  font-size: 2rem;
  font-weight: 400;
}
.bg-suite-adobe {
  position: absolute;
  background-color: rgba(7, 7, 7, 0.658);
  height: 90%;
  width: 95%;
  margin: auto;
  text-align: center;
}

.design img {
  width: 95%;
  height: auto;
}
.content-skill {
  position: absolute;
  z-index: 1;
  display: none;
  height: 7em;
  width: 200px;
  padding: 10px;
  background-color: #f1f1f1a2;
  border-radius: 20px;
  box-shadow: 0 0 0.1px #000;
}
.content-skill p {
  color: #000;
}
#formacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: auto;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: rgb(255, 18, 57);
  box-shadow: inset 5px 0 0 rgb(0, 255, 179);
}
.cert {
  display: flex;
  width: 100%;
  gap: 15px;
  margin: 20px;
}
.cert:hover {
  opacity: 0.9;
}
.cert:active {
  transform: scale(0.99);
}
.cert p {
font-size: 1.2rem;
}
#date-formacion {
  color: rgba(48, 48, 48, 0.9);
  margin-right: 10px;
  font-weight: 100;
  font-size: 1rem;
}
.cert-imgs {
  width: auto;
  height: 20px;
  max-height: 20px;
}

#contact {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  background-color: rgb(0, 0, 0, 0.2 );
  backdrop-filter: blur(20px);
  box-shadow: inset 0 0 5rem #237c12;
  padding: 100px 50px;
}
#contact h2 {
  padding-bottom: 50px;
}
.container-form {
  position: relative;
  display: flex;
  height: 70%;
  width: 70%;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: rgba(182, 182, 182, 0.075);
  backdrop-filter: blur(100px);
  border-radius: 5px;
  box-shadow: 0 0 0.5rem rgba(27, 27, 27, 0.4);
}
.container-form h3 {
  display: flex;
  width: 100%;
  padding: 5px 5px 5px 10px;
  font-weight: 100;
  box-shadow: 0 0.5px 0 #fff;
  font-family: monospace;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden; 
  border-right: 1.5px solid; /* Simula el cursor */
  text-shadow: 1px 0 #000;
  cursor: text;
/* animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite; */
}
.container-form h3 span {
  border-right: 1.5px solid; /* Simula el cursor */
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}
.container-form h3:hover {
opacity: 0.5;
}
.container-form:hover #caret {
animation-play-state: paused;
}
#show-contact {
  display: none;
  overflow: hidden;
}
.animation-show-contact {
animation: topBom 3s ease-in;
}
@keyframes topBom {
  from {
    height: 0%;
    top: 0;
    opacity: 0;
  }
  to {
  height: 100%;
  opacity: 1;
  }
}
.for {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #634092;
  backdrop-filter: blur(5px);
  margin-top: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.for img {
  height: 50px;
  max-height: 50px;
  width: auto;
}
.icon-for {
  position: relative;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 5px 40px;
  padding: 5px;
}
.camp {
  height: auto;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(5px);
}
.camp-name {
  padding-top: 40px;
}
.camp-why {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.camp p {
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 10px 15px;
  color: #fff;
}




/* #about-me {
  width: 100%;
  height: auto;
  flex: 1;
  margin-top: auto;
  background-color: transparent;
}
.description-about-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: #0c0c0c;
  border-radius: 20px;
  padding: 1rem;
  margin: 3rem;
}
.description-about-me  p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: start;
}
.ide {
  position: relative;
  height: auto;
  width: 40px;
  padding-left: 10px;
} */

.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  flex-wrap: wrap;
  flex: 1;
  gap: 5px;
  margin: 20px;
}
.data {
  z-index: 1;
  height: 100px;
  width: 300px;
  background-color: #ffcc00;
  padding: 5px;
  text-align: start;
  border-radius: 2px;
  cursor: pointer;
}
.data img {
  height: auto;
  width: 30px;
  background-color: #fff8;
  padding: 5px;
  box-shadow: 0.1px 0.1px 10px #000;
  border-radius: 1px;
}
.data p {
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
.fil {
  z-index: -1;
  inset: 1;
  position: absolute;
  background-color: rgba(48, 48, 48, 0.527);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  width: 300px;
  height: 100px;
  margin: -5px;
}


/* Responsive */
@media screen and (max-width: 1000px ) {
  #portfolio {
    width: 100vw;
  }
  .data-home {
    display: block;
  }
  .container-video {
    height: 100px;
    width: 100px;
  }
  .redirect-site h2 {
    font-size: 3vmax;
  }
  .project {
    height: 150px;
    width: 300px;
  }
  .tecnologies-use {
    gap: 0;
    padding: 0;
  }
  .project:hover .title-project {
    font-size: 0.7rem;
  }
  .descrip-project p {
    font-size: 0.6rem;
  }
  .port-home h1 {
    font-size: 4rem;
  }
  .cert p {
    font-size: 1rem;
  }
  #contact {
    padding: 50px 20px ;
  }
  .container-form {
    width: 100%;
  }
}
