* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Pt";
  src: url(fonts/Azonix-1VB0.otf);
}
@font-face {
  font-family: "tt";
  src: url(fonts/FutronsOutline-4BEaD.ttf);
}
@font-face {
  font-family: "DATER";
  src: url(fonts/FuturisticBright-8MW8D.otf);
}
@font-face {
  font-family: "PLANER";
  src: url(fonts/SpotMonkey-zLO0.ttf);
}
html,
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
  background: radial-gradient(circle at top right, rgb(24, 24, 24), #634092);
  font-family: "Teachers", sans-serif;
}

section {
  width: 100%;
}

strong {
  color: #000;
}

nav a {
  text-decoration: none;
  list-style: none;
}
nav {
  position: sticky;
  top: 0;
  height: auto;
  width: 65%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  background-color: transparent;
}
.nav-style {
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(50px);
  z-index: 1;
}

nav ul {
  display: flex;
  margin: 0.1rem;
  gap: 10px;
  font-weight: 400;
}
li {
  background-color: #ffffff0c;
  padding: 3px 10px;
  border-radius: 8px;
  margin-top: 10px; 
}
li button {
  border: none;
  background-color: transparent;
}
li:hover {
  opacity: 0.9;
}
li:active {
  transform: scale(0.99);
}
li img {
  display: inline-flex;
  max-width: 0.8rem;
  height: auto;
}
button {
  cursor: pointer;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.625);
}
.capa-welcome {
  display: none;
  z-index: 2;
  height: auto;
  width: auto;
  background-color: rgb(0, 0, 0);
  animation: show-letters-02 1s ease-in-out forwards;
}
.welcome {
  display: none;
  z-index: 1;
  height: auto;
  width: 0;
  background-color: transparent;
  overflow: hidden;
  animation: show-letters 1s forwards;
}
.overflow-hidden {
  overflow-y: hidden;
}
@keyframes show-letters {
  to {
  width: 100%;
}
}
@keyframes show-letters-02 {
  to {
  background-color: transparent;
}
}
.welcome h2 {
font-size: 4rem;
}
#language {
  top: 0;
  left: 0;
  position: absolute;
  padding: 0px 10px;
  border-radius: 0px;
  list-style: none;
  text-align: center;
  box-shadow: 0px 0.3px 0px 0px #fff;
  margin-left: 10px;
  display: none;
}
#languages {
  display: none;
  position: relative;
  display: flex;
  gap: 3px;
  list-style: none;
  margin: 8px;
}
#img-languages {
  height: auto;
  width: 1.5rem;
}
#languages img {
  height: 100%;
  width: 100%;
}
#languages button {
  font-size: 0.5rem;
  margin: 0;
}
#languages button strong {
  color: #9c9c9c;
  opacity: 0.5;
}
#options-languages {
  display: none;
}
.state-active {
  opacity: 0.5;
}
/* #language:hover {
  transform: scale(none);
} */
#language:hover {
  transform: none;
}
@keyframes show-animation-remove {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes show-animation-add {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.show-r {
  animation: show-animation-remove 0.3s forwards;
}
.show-a {
  animation: show-animation-add 0.3s forwards;
}

.home {
  background-color: transparent;
   margin-top: 5px;
}

.vertical-line {
  position: absolute;
  height: 100vh;
  width: 2px;
  background-color: #fff;
  left: 0;
  margin: 1rem;
}
.filter-body {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(12, 12, 12);
  opacity: 0.5;
}
.filter-body img {
  z-index: -2;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  background-attachment: fixed;
}

#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 65%;
  margin: 0 auto;
  padding: 0;
  background-color: #00000015;
  backdrop-filter: blur(3px);

}
.container-portfolio {
  animation: tat 0.5s ease-in-out forwards;
  animation-delay: 1s;
}
.container-portfolio-animation {
  animation: tatL 0.5s ease-in-out forwards;
  animation-delay: 1s;
}

#portfolio-content {
  background-color: #00000015;
  backdrop-filter: blur(3px);
  padding: 1rem 0;
}
/* #home:hover {
  box-shadow: 
  10px 0px 0px -5px rgb(255, 0, 0);
} */
@keyframes tat {
  to {
    box-shadow: -10px 0px 10px -5px rgb(255, 255, 255, 0.2), /* sombra en el lado izquierdo */ 
    10px 0px 10px -5px rgb(255, 255, 255, 0.2); /* sombra en el lado derecho */
  }
}
@keyframes tatL {
  to {
    box-shadow: -10px 0px 10px -5px rgb(255, 255, 255, 0.2); /* sombra en el lado izquierdo */ 

  }
}


.data-home {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  margin: 4rem 0;
  padding: 0 2.5rem;
  box-shadow: 0 0 0.1rem #ffffff1c;
}
.container-avatar {
  height: 180px;
  width: 180px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
}
.avatar {
  position: absolute;
  width: 260px;
  height: 260px;
  background: radial-gradient(#634092, #ffffff);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 0.1rem rgba(22, 22, 22, 0.2));
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
}
.container-video {
  position: absolute;
  width: 260px;
  height: 260px;
  overflow: hidden;
  border-radius: 50%; /* Hace que el contenedor sea circular */
  padding: 20px;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 1rem #634092);
  box-shadow: 0 0 10rem rgba(255, 255, 255, 0.1);
}
.container-video video {
  width: 200%;
  height: 150%;
  object-fit: cover; /* Cubre completamente el contenedor */
  position: absolute; /* Posicionamiento absoluto para cubrir el contenedor */
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.port-home h1 {
  text-align: center;
  font-size: 5rem;
  background-color: #ccc;
  background: linear-gradient(270deg, #858585, #414141, #634092, #fff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 2rem;
  filter: drop-shadow(0 0 0.1rem #000);
}
.space-name {
 padding-top: 1rem;
}
.container-state {
  position: relative;
  height: auto;
  border-radius: 20px;
  background-color: rgba(27, 27, 27, 0.747);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  margin: 1rem;
  padding: 1rem;
  margin:  auto;
}
.container-state h2 {
  font-size: 1rem;
  font-weight: 100;
  box-shadow: 0 0.3px 0 #fff;
  padding-left: 1rem;
  width: 100%;
  padding-top: 5px;
  animation: state 5s linear forwards;
}
.info-state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 100%;
  padding: 0.3rem 1rem;
} 
.state {
  background-color: rgb(11, 179, 11, 0.3);
  box-shadow: 0 0 1rem rgba(0, 128, 0, 0.377);
  border-radius: 5px;
  padding: 5px;
}
.state h3 {
  color: rgb(100, 248, 100);
  font-size: 1rem;
}
@keyframes state {
  0% {
    width: 0%;
  }
  90% {
    width: 100%;
    opacity: 0;
  }
  100% {
    opacity: 1;
   display: none;
  }
}
.code {
  position: relative;
  height: auto;
  width: auto;
}
.code-insert {
  font-family: monospace;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden; 
  border-right: 3px solid; /* Simula el cursor */
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}
/* .data-home h2 {
    /* background-color: #ccc;
    background: linear-gradient(270deg, rgb(71, 71, 71),#0c0c0c, #242424, #0c0c0c);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    } */
.link-underline {
  text-decoration: none;
  position: relative;
  font-size: 1.7rem;
  text-align: center;
  color: rgba(100, 64, 146);
}
.link-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1px;
  bottom: -1px;
  left: 0;
  background-color: #ffffff;
}

.port-home {
  height: auto;
  margin-top: auto;
  width: 100%;
  background-color: transparent;
}
.port-sentence {
  position: relative;
  z-index: 3;
  width: 90%;
  font-size: 1.3rem;
  color: #000;
  padding: 2rem;
  border-radius: 20px;
  margin: 1rem 3rem;
  margin: auto;
  text-align: center;
  overflow: hidden;
}
.port-sentence::before {
  width: 100%;
  z-index: -1;
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 20px;
  padding: 5px;
  background: linear-gradient(
    90deg,
    #fcfbfd,
    #9d7fc7,
    #634092,
    #2d1d42,
    #140d1e
  );
  background-size: 500% 500%;
  animation: borderAnimation 10s linear forwards;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5), 0 0 10px rgba(255, 165, 0, 0.5),
    0 0 10px rgba(255, 255, 0, 0.5), 0 0 10px rgba(0, 128, 0, 0.5),
    0 0 10px rgba(75, 0, 130, 0.5), 0 0 10px rgba(238, 130, 238, 0.5);
}

.port-sentence::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 20px;
  background-color: rgba(20, 20, 20, 0.95);
  backdrop-filter: blur(200px);
  z-index: -1;
}

@keyframes borderAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes recorrer-div {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 10px 10px 1rem orange;
  }
}

.data-head {
  position: relative;
  height: auto;
  width: 100%;
  height: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.2rem;
  color: #000;
  padding: 1rem;
  align-items: center;
  font-weight: 600;
}

.qtn {
  text-align: center;
  margin: 4rem 2.5rem 0;
  padding: 1rem;
}
.qtn p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
}
.qtn strong {
  color: #fff;
}
.forward-right img {
  display: inline-flex;
  height: 2.8rem;
  width: auto;
  margin-bottom: -0.75rem;
  background-color: transparent;
  filter: drop-shadow(0 0 10rem #ffff);
}

#skills {
  width: 100%;
  margin-top: auto;
  margin: 2rem 0;
}
#skills h2 {
  margin: 2rem;
  font-weight: 400;
}

.container-knowledge {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.learned {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  gap: 1rem;
}
.learned h2 {
  font-size: 0.8rem;
  color: beige;
  padding: 0.5rem;
  background-color: rgba(100, 64, 146, 0.2);
  border-radius: 1rem;
  font-weight: 100;
}
.icons-imgs {
  width: 100%;
}
.icons-imgs img {
  width: 50px;
  height: auto;
  padding: 5px;
}

.icons-imgs {
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  border-radius: 0.2rem;
  background-color: rgba(73, 73, 73, 0.021);
  box-shadow: 0 0 1px #fff;
  margin: 5px;
}
.icons-imgs:hover {
  backdrop-filter: blur(20px);
  background-color: rgba(73, 73, 73, 0.1);
}
.design {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 100px;
}
.design p {
  position: absolute;
  font-size: 2rem;
  font-weight: 400;
}
.bg-suite-adobe {
  position: absolute;
  background-color: rgba(7, 7, 7, 0.658);
  height: 90%;
  width: 95%;
  margin: auto;
  text-align: center;
}

.design img {
  width: 95%;
  height: auto;
}
.suite-Adobe {
  display: block;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.075);
}
.suite-Adobe img {
  width: 500px;
  height: auto;
}
.content-skill {
  position: absolute;
  z-index: 1;
  display: none;
  height: 7em;
  width: 200px;
  padding: 10px;
  background-color: #f1f1f1a2;
  border-radius: 20px;
  box-shadow: 0 0 0.1px #000;
}
.content-skill p {
  color: #000;
}
#logros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: auto;
}

#logros h2 {
  font-weight: 400;
  margin: 2rem;
}
.container-certificados {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
.show {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 300px;
  /* background: radial-gradient(circle, #202020,#111111); */
  background-color: #0f0f0f;
  transition: 1s ease-in;
  cursor: default;
  animation: cursor-exp 1s ease forwards;
  animation-delay: 1s;
}
/* .filter-cert {
  z-index: -1;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 300px;
  /* background: radial-gradient(circle, #202020,#111111);
  background-color: #ff0000;
  transition:  1s ease-in;
  cursor: default;
  animation: cursor-exp 1s ease forwards;
  animation-delay: 1s;
  opacity: 0.5;
 } */
/* .showTwo {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 500px;
  /* background: radial-gradient(circle, #202020,#111111);
  background-color: #0f0f0f;
  transition:  1s ease-in;
  cursor: default;
  animation: cursor-exp 1s ease forwards;
  animation-delay: 1s;
 }
 .certTwo {
  position: relative;
  padding: 1px;
 }
 .cert-imgsTwo {
  height: auto;
  width: 500px;
 } */

@keyframes cursor-exp {
  to {
    cursor: crosshair;
  }
}
@keyframes breathe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.title-cert {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Tt";
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
.show:hover {
  background-color: transparent;
}
.show:hover h3 {
  color: transparent;
  user-select: none;
}
.cert {
  position: relative;
  padding: 5px;
}
.cert-imgs {
  height: auto;
  width: 300px;
}

#about-me {
  width: 100%;
  height: auto;
  flex: 1;
  margin-top: auto;
  background-color: transparent;
}
#about-me h2 {
  margin: 2rem;
  font-weight: 400;
}
.description-about-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: #0c0c0c;
  border-radius: 20px;
  padding: 1rem;
  margin: 3rem;
}
.description-about-me  p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: start;
}
.ide {
  position: relative;
  height: auto;
  width: 40px;
  padding-left: 10px;
}

.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  flex-wrap: wrap;
  flex: 1;
  gap: 5px;
  margin: 20px;
}
.data {
  z-index: 1;
  height: 100px;
  width: 300px;
  background-color: #ffcc00;
  padding: 5px;
  text-align: start;
  border-radius: 2px;
  cursor: pointer;
}
.data img {
  height: auto;
  width: 30px;
  background-color: #fff8;
  padding: 5px;
  box-shadow: 0.1px 0.1px 10px #000;
  border-radius: 1px;
}
.data p {
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
.fil {
  z-index: -1;
  inset: 1;
  position: absolute;
  background-color: rgba(48, 48, 48, 0.527);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  width: 300px;
  height: 100px;
  margin: -5px;
}
#projects {
  width: 100vw;
}

#projects h2 {
  font-weight: 400;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  text-align: center;
  border-radius: 20px;
}
.rotate-side {
  flex-direction: row-reverse;
}
.title-project {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 250px;
  background-color: rgba(255, 255, 255);
  font-size: 3rem;
  text-align: center;
  align-items: center;
  font-size: 1rem;
}
.project {
  height: 300px;
  width: 300px;
  background-color: rgb(10, 10, 10);
  border-radius: 0.5rem;
}
.project p {
  font-family: "Teachers";
  font-size: 0.5rem;
  color: #fff;
}
.project strong {
  color: beige;
  filter: drop-shadow(0 0 1px #000);
}
.project h3 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 1.5rem;
}
.description-project {
  font-size: 0.5rem;
  font-weight: 100;
}
#font-dater {
  background-color: rgba(70, 62, 70, 0.336);
  text-align: center;
  justify-content: center;
  align-items: center;
}
.font-dater {
  font-family: "DATER";
  background-color: #0000006e;
  border-radius: 2rem;
}
.container-img-dater {
  position: relative;
}
.img-dater {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

#font-inmersion-framework {
  background-color: #020202;
}
#font-inmersion-framework h3 {
  font-family: "Pt";
  color: rgb(88, 255, 88);
  cursor: default;
  animation: live 3s ease-in-out;
}
#font-inmersion-framework h3:hover {
  opacity: 1;
}
@keyframes live {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

#font-planer {
  background-color: #0c0c0c;
  text-align: center;
  justify-content: center;
}
#font-planer h3 {
  font-family: "PLANER";
  color: red;
}
.descp-t {
  font-size: 0.5rem;
  flex-direction: column;
}

/* Responsive */
@media screen and (max-width: 1000px) {
  #home {
    width: 100vw;
  }
  #portfolio {
    width: 100vw;
  }
  nav {
    position: relative;
    display: flex;
    height: auto;
    width: 100vw;
    justify-content: start;
    align-items: center;
  }
  nav ul {
    gap: 2px;
  }
  nav li {
    font-size: 0.6rem;
  }
  .container-video {
    position: absolute;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%; /* Hace que el contenedor sea circular */
    padding: 20px 20px 20px 5px;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 1rem #634092);
    box-shadow: 0 0 10rem rgba(255, 255, 255, 0.1);
    left: -20px;
  }
  .container-video video {
    width: 200%;
    height: 150%;
    object-fit: cover; /* Cubre completamente el contenedor */
    position: absolute; /* Posicionamiento absoluto para cubrir el contenedor */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .link-underline {
    font-size: 1rem;
  }
  .port-home h1 {
    font-size: 2rem;
    padding: 1rem;
  }
  .description-about-me {
    padding: 0.5rem;
    margin: 1rem;
  }
  .description-about-me  p {
    font-size: 0.5rem;
  }
  .port-sentence {
    padding: 1rem;
    margin: 0 3rem;
    margin: auto;
    font-size: 0.7rem;
  }
  .container-state {
    padding: 0.8rem;
    margin:  auto;
  }
  .container-state h2 {
    font-size: 0.5rem;
    padding-left: 0rem;
    width: 50%;
    padding-top: 0px;
  }
  .info-state {
    padding: 0.3rem 0.5rem;
  } 
  .state h3 {
    font-size: 0.5rem;
  }
  .code-insert {
    font-size: 0.5rem;
  }
}
